#RestaurantDetails{
    width: 95%;
    margin: auto;
    line-height: 150%;
}

#sorting>button{
    margin-left: 2%;
}

.productsDis{
    /* display: flex; */
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto ;
    column-gap: 3%;
    row-gap: 3%;
}

.indivProd{
    /* border: 0.01px solid rgb(66, 64, 64); */
    /* background-color: rgb(246, 243, 243); */

    width: 100%;
}
.indivProd:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.LeftImage{
    width: 70%;
    height: 70%;
    /* border: 2px solid black; */
}
.LeftImage>img{
    width: 100%;
    height: 100%;
}

.leftProdDet{
    /* align-items: center; */
    /* justify-items: left; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    width: 100%;
    /* border: 2px solid palegreen; */
}

.ProdName{
    font-size: larger;
    font-weight: bolder;
    color: brown;
    text-align: start;
    /* margin-left: 1%; */
    padding-left: 7%;
    /* font-size: 110%; */
}
.ProdCat{
    color: green;
    text-align: start;
    padding-left: 7%;
    /* font-weight: lighter; */
}
.Costfor2{
    /* border: 2px solid blue; */
    text-align: start;
    padding-left: 7%;
    color: green;
}
.paymentMode{
    text-align: start;
    padding-left: 7%;  
    font-weight: bold; 
    font-size: 81%;
}

.rightProdDet{
    width: 45%;
}
.RatingProd{
    font-weight: bolder;
    background-color: #267E3E;
    color: aliceblue;
    border-radius: 6%;
    width: 50%;
    margin-left: 45%;   
    padding: 2%;
    /* border: 2px solid black;  */
}

#ProdAllinfo{
    display: flex;
    
}


.orderNow{
    padding: 2%;
    width: 100%;
    /* margin-top: 30%; */
    /* background-color: #267E3E; */
    color: #267E3E;
    /* margin-right: -270px; */
    align-items: center;
    border:0.9px solid #267E3E;
    font-weight: bolder;
}
.orderNow:hover{
    background-color: #267E3E;
    color: aliceblue;

}
