.NavBarMain{
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    /* position: fixed; */
    height: 70px;
    margin: auto;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
}

input{
    height: 140%;
}