#main{
    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 3%;
    padding: 3%;
    width: 100%;
    height: 100%;
    /* //background-color: crimson; */
}

img{
    width: 90%;
    height: 70%;
}

#container{
    display: flex;
   
}

#sidebar{
    background-color: burlywood;
    height: 1000px
}
button{
    width: 100%;
    padding: 5%;
}